In [67]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [68]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [69]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [70]:
print(train.isnull().sum())
print('-------------------------------------------')
print(train.dropna().describe())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64
-------------------------------------------
       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count  4650.000000      4650.000000  4650.000000                4650.000000
mean     12.898675         0.060700   141.716328                1999.190538
std       4.670973         0.044607    62.420534                   7.388800
min       4.555000         0.000000    31.490000                1987.000000
25%       8.770000         0.025968    94.409400                1997.000000
50%      12.650000         0.049655   142.979900                1999.000000
75%      17.000000         0.088736   186.614150                2004.000000
max      21.350000         0.188323   266.888400                2009.000000

       Item_Outlet_Sales
count        4650.000000
mean         2272.037489
std          1497.964740
min            69.243200
25%          1125.202000
50%          1939.808300
75%          3111.616300
max         10256.649000

In [71]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [72]:
test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [73]:
print(set(train['Item_Fat_Content'].get_values()))
print("-"*100)
print(set(train['Item_Type'].get_values()))
print("-"*100)
print(set(train['Outlet_Identifier'].get_values()))
print("-"*100)
print(set(train['Outlet_Location_Type'].get_values()))
print("-"*100)
print(set(train['Outlet_Size'].get_values()))
print("-"*100)
print(set(train['Outlet_Type'].get_values()))

{'reg', 'low fat', 'Regular', 'Low Fat', 'LF'}
----------------------------------------------------------------------------------------------------
{'Fruits and Vegetables', 'Snack Foods', 'Dairy', 'Soft Drinks', 'Frozen Foods', 'Hard Drinks', 'Seafood', 'Breakfast', 'Breads', 'Meat', 'Others', 'Baking Goods', 'Health and Hygiene', 'Household', 'Starchy Foods', 'Canned'}
----------------------------------------------------------------------------------------------------
{'OUT046', 'OUT027', 'OUT045', 'OUT018', 'OUT013', 'OUT017', 'OUT035', 'OUT010', 'OUT049', 'OUT019'}
----------------------------------------------------------------------------------------------------
{'Tier 3', 'Tier 2', 'Tier 1'}
----------------------------------------------------------------------------------------------------
{nan, 'Medium', 'Small', 'High'}
----------------------------------------------------------------------------------------------------
{'Supermarket Type1', 'Grocery Store', 'Supermarket Type2', 'Supermarket Type3'}

In [74]:
#Data cleaning and preprocessinng
train['Item_Fat_Content']=train['Item_Fat_Content'].replace([['LF', 'low fat']], 'Low Fat')
train['Item_Fat_Content']=train['Item_Fat_Content'].replace(['reg'], 'Regular')

test['Item_Fat_Content']=test['Item_Fat_Content'].replace([['LF', 'low fat']], 'Low Fat')
test['Item_Fat_Content']=test['Item_Fat_Content'].replace(['reg'], 'Regular')

In [75]:
train.dropna().groupby(by='Outlet_Size',axis=0)['Item_Identifier'].count()

Outlet_Size
High       932
Medium    1858
Small     1860
Name: Item_Identifier, dtype: int64

In [76]:
train.dropna().groupby('Item_Fat_Content')['Item_Weight'].mean()

Item_Fat_Content
Low Fat    13.012853
Regular    12.690298
Name: Item_Weight, dtype: float64

In [77]:
#Null value optimisation training data

#avg=train.dropna().groupby('Item_Type', as_index=False)['Item_Weight'].mean()
#for i in range(len(train)):
    #if np.isnan(train.loc[i,'Item_Weight']):
        #train['Item_Weight'][i]=avg[avg['Item_Type']==train['Item_Type'][i]]['Item_Weight'].values[0]
    #else:
        #pass

#del train['Outlet_Size']
#del train['Item_Identifier']

In [78]:
#Null value optimisationtesting data

#avg=test.dropna().groupby('Item_Type', as_index=False)['Item_Weight'].mean()
#for i in range(len(test)):
    #if np.isnan(test.loc[i,'Item_Weight']):
        #test['Item_Weight'][i]=avg[avg['Item_Type']==test['Item_Type'][i]]['Item_Weight'].values[0]
    #else:
        #pass

#del test['Outlet_Size']
#del test['Item_Identifier']

In [79]:
#train.to_csv('train_clean.csv', index=False)
#test.to_csv('test_clean.csv', index=False)

In [80]:
train_clean=pd.read_csv('train_clean.csv')
train_clean=train_clean.drop(['Outlet_Identifier'], axis=1)
print(train_clean.head())

test_clean=pd.read_csv('test_clean.csv')
test_clean=test_clean.drop(['Outlet_Identifier'], axis=1)

   Item_Weight Item_Fat_Content  Item_Visibility              Item_Type  \
0         9.30          Low Fat         0.016047                  Dairy
1         5.92          Regular         0.019278            Soft Drinks
2        17.50          Low Fat         0.016760                   Meat
3        19.20          Regular         0.000000  Fruits and Vegetables
4         8.93          Low Fat         0.000000              Household

   Item_MRP  Outlet_Establishment_Year Outlet_Location_Type  \
0  249.8092                       1999               Tier 1
1   48.2692                       2009               Tier 3
2  141.6180                       1999               Tier 1
3  182.0950                       1998               Tier 3
4   53.8614                       1987               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052

In [81]:
train_clean.loc[(train_clean['Outlet_Establishment_Year']<=1993), 'Outlet_Establishment_Year']=0
train_clean.loc[(train_clean['Outlet_Establishment_Year']>1993) & (train_clean['Outlet_Establishment_Year']<=1998) , 'Outlet_Establishment_Year']=1
train_clean.loc[(train_clean['Outlet_Establishment_Year']>1998) & (train_clean['Outlet_Establishment_Year']<=2003) , 'Outlet_Establishment_Year']=2
train_clean.loc[(train_clean['Outlet_Establishment_Year']>2003), 'Outlet_Establishment_Year']=4
train_clean['Outlet_Establishment_Year'] = train_clean['Outlet_Establishment_Year'].astype(int)

In [82]:
test_clean.loc[(test_clean['Outlet_Establishment_Year']<=1993), 'Outlet_Establishment_Year']=0
test_clean.loc[(test_clean['Outlet_Establishment_Year']>1993) & (test_clean['Outlet_Establishment_Year']<=1998) , 'Outlet_Establishment_Year']=1
test_clean.loc[(test_clean['Outlet_Establishment_Year']>1998) & (test_clean['Outlet_Establishment_Year']<=2003) , 'Outlet_Establishment_Year']=2
test_clean.loc[(test_clean['Outlet_Establishment_Year']>2003), 'Outlet_Establishment_Year']=4
test_clean['Outlet_Establishment_Year'] = test_clean['Outlet_Establishment_Year'].astype(int)

In [83]:
#from sklearn.preprocessing import LabelEncoder
#le=LabelEncoder()
#list=['Item_Fat_Content', 'Item_Type','Outlet_Identifier','Outlet_Location_Type', 'Outlet_Type']
#for i in list:
    #train_clean[i]=le.fit_transform(train_clean[i]).astype(int)

In [84]:
list=['Item_Fat_Content', 'Item_Type','Outlet_Location_Type', 'Outlet_Type']
for i in range(len(list)):
    dummy_i=pd.get_dummies(train_clean[list[i]])
    train_clean=pd.concat([dummy_i, train_clean], axis=1)

train_clean=train_clean.drop(list, axis=1)
train_clean.head()

,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3,Tier 1,Tier 2,Tier 3,Baking Goods,Breads,Breakfast,...,Snack Foods,Soft Drinks,Starchy Foods,Low Fat,Regular,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
0,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,9.30,0.016047,249.8092,2,3735.1380
1,0,0,1,0,0,0,1,0,0,0,...,0,1,0,0,1,5.92,0.019278,48.2692,4,443.4228
2,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,17.50,0.016760,141.6180,2,2097.2700
3,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,19.20,0.000000,182.0950,1,732.3800
4,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,8.93,0.000000,53.8614,0,994.7052

In [85]:
list=['Item_Fat_Content', 'Item_Type','Outlet_Location_Type', 'Outlet_Type']
for i in range(len(list)):
    dummy_i=pd.get_dummies(test_clean[list[i]])
    test_clean=pd.concat([dummy_i, test_clean], axis=1)

test_clean=test_clean.drop(list, axis=1)
test_clean.head()

,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3,Tier 1,Tier 2,Tier 3,Baking Goods,Breads,Breakfast,...,Seafood,Snack Foods,Soft Drinks,Starchy Foods,Low Fat,Regular,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year
0,0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,20.750,0.007565,107.8622,2
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,8.300,0.038428,87.3198,4
2,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,14.600,0.099575,241.7538,1
3,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,7.315,0.015388,155.0340,4
4,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,12.798,0.118599,234.2300,0

In [86]:
X_train=train_clean.iloc[:,:-1]
y_train=train_clean.iloc[:,-1]

In [87]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
train_X, test_X, train_y, test_y=train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [88]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(train_X, train_y)
prediction_lr=lr.predict(test_X)
print("RMSE for model is: %.2f" %sqrt(mean_squared_error(test_y, prediction_lr)))

RMSE for model is: 1068.57

In [89]:
from sklearn.linear_model import Ridge
rg=Ridge(alpha=10)
rg.fit(train_X, train_y)
prediction_rg=rg.predict(test_X)
print("RMSE for model is: %.2f" %sqrt(mean_squared_error(test_y, prediction_rg)))

RMSE for model is: 1068.44

In [90]:
#Hyperparameter tuning for RandomForest with GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on approximte params  

param_grid = {
    'max_depth': [None, 2, 4, 6, 8],
    'n_estimators': [1, 10, 50, 100, 200, 400, 500, 700]
}

# Create a based model
#rf_base = RandomForestRegressor()
# Instantiate the grid search model
#grid_search = GridSearchCV(estimator = rf_base, param_grid = param_grid, cv = 3, n_jobs = -1, verbose = 2)

# Fit the grid search to the data
#grid_search.fit(train_X, train_y)
#grid_search.best_params_

In [91]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=50, max_depth=6, random_state=42)
rf.fit(train_X, train_y)
prediction_rf=rf.predict(test_X)
print("RMSE for model is: %.2f" %sqrt(mean_squared_error(test_y, prediction_rf)))

RMSE for model is: 1023.72

In [92]:
#Hyperparameter tuning for XGBClassifier with GridSearchCV
from xgboost.sklearn import XGBRegressor
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on approximte params  

param_grid = {
    'learning_rate':[0.01, 0.05, 0.09, 0.3, 0.8, 1],
    'max_depth': [1,2,3],
    'n_estimators': [20, 50, 100,200, 400, 500],
}

#Create a based model
#xgb_base = XGBRegressor()
# Instantiate the grid search model
#grid_search_xgb = GridSearchCV(estimator = xgb_base, param_grid = param_grid, cv = 3, n_jobs = -1, verbose = 2)

# Fit the grid search to the data
#grid_search_xgb.fit(train_X, train_y)
#grid_search_xgb.best_params_

In [93]:
import xgboost
xgb = xgboost.XGBRegressor(n_estimators=80, learning_rate=0.05, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=5)
xgb.fit(train_X, train_y)
prediction_xgb=xgb.predict(test_X)
print("RMSE for model is: %.2f" %sqrt(mean_squared_error(test_y, prediction_xgb)))

RMSE for model is: 1029.72

In [94]:
#Final Random forest
rf1=RandomForestRegressor(n_estimators=50, max_depth=6, random_state=42)
rf1.fit(X_train, y_train)
prediction_rf1=rf1.predict(X_train)
print("RMSE for model is: %.2f" %sqrt(mean_squared_error(y_train, prediction_rf1)))

xgb1=xgboost.XGBRegressor(n_estimators=80, learning_rate=0.05, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=5)
xgb1.fit(X_train, y_train)
prediction_xgb1=xgb1.predict(X_train)
print("RMSE for model is: %.2f" %sqrt(mean_squared_error(y_train, prediction_xgb1)))

RMSE for model is: 1051.35
RMSE for model is: 1025.55

In [95]:
predictions=pd.DataFrame(rf1.predict(test_clean), columns=['Item_Outlet_Sales'])

In [96]:
test1=pd.read_csv('test.csv')
final_submission=pd.concat([test1[['Item_Identifier','Outlet_Identifier']], predictions], axis=1 )

In [97]:
final_submission.to_csv('final_submission.csv', index=False)