In [99]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [100]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [101]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [102]:
print(train.isnull().sum())
print('-------------------------------------------')
print(train.dropna().describe())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64
-------------------------------------------
       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count  4650.000000      4650.000000  4650.000000                4650.000000
mean     12.898675         0.060700   141.716328                1999.190538
std       4.670973         0.044607    62.420534                   7.388800
min       4.555000         0.000000    31.490000                1987.000000
25%       8.770000         0.025968    94.409400                1997.000000
50%      12.650000         0.049655   142.979900                1999.000000
75%      17.000000         0.088736   186.614150                2004.000000
max      21.350000         0.188323   266.888400                2009.000000

       Item_Outlet_Sales
count        4650.000000
mean         2272.037489
std          1497.964740
min            69.243200
25%          1125.202000
50%          1939.808300
75%          3111.616300
max         10256.649000

In [103]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [104]:
test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [105]:
print(set(train['Item_Fat_Content'].get_values()))
print("-"*100)
print(set(train['Item_Type'].get_values()))
print("-"*100)
print(set(train['Outlet_Identifier'].get_values()))
print("-"*100)
print(set(train['Outlet_Location_Type'].get_values()))
print("-"*100)
print(set(train['Outlet_Size'].get_values()))
print("-"*100)
print(set(train['Outlet_Type'].get_values()))

{'Regular', 'low fat', 'reg', 'Low Fat', 'LF'}
----------------------------------------------------------------------------------------------------
{'Soft Drinks', 'Hard Drinks', 'Snack Foods', 'Breakfast', 'Starchy Foods', 'Meat', 'Fruits and Vegetables', 'Others', 'Baking Goods', 'Health and Hygiene', 'Canned', 'Dairy', 'Household', 'Seafood', 'Breads', 'Frozen Foods'}
----------------------------------------------------------------------------------------------------
{'OUT017', 'OUT046', 'OUT018', 'OUT049', 'OUT013', 'OUT027', 'OUT045', 'OUT010', 'OUT019', 'OUT035'}
----------------------------------------------------------------------------------------------------
{'Tier 1', 'Tier 2', 'Tier 3'}
----------------------------------------------------------------------------------------------------
{nan, 'High', 'Medium', 'Small'}
----------------------------------------------------------------------------------------------------
{'Supermarket Type1', 'Supermarket Type3', 'Supermarket Type2', 'Grocery Store'}

In [106]:
#Data cleaning and preprocessinng
train['Item_Fat_Content']=train['Item_Fat_Content'].replace([['LF', 'low fat']], 'Low Fat')
train['Item_Fat_Content']=train['Item_Fat_Content'].replace(['reg'], 'Regular')

test['Item_Fat_Content']=test['Item_Fat_Content'].replace([['LF', 'low fat']], 'Low Fat')
test['Item_Fat_Content']=test['Item_Fat_Content'].replace(['reg'], 'Regular')

In [107]:
train.dropna().groupby(by='Outlet_Size',axis=0)['Item_Identifier'].count()

Outlet_Size
High       932
Medium    1858
Small     1860
Name: Item_Identifier, dtype: int64

In [108]:
train.dropna().groupby('Item_Fat_Content')['Item_Weight'].mean()

Item_Fat_Content
Low Fat    13.012853
Regular    12.690298
Name: Item_Weight, dtype: float64

In [109]:
#Null value optimisation training data

#avg=train.dropna().groupby('Item_Type', as_index=False)['Item_Weight'].mean()
#for i in range(len(train)):
    #if np.isnan(train.loc[i,'Item_Weight']):
        #train['Item_Weight'][i]=avg[avg['Item_Type']==train['Item_Type'][i]]['Item_Weight'].values[0]
    #else:
        #pass

#del train['Outlet_Size']
#del train['Item_Identifier']

In [110]:
#Null value optimisationtesting data

#avg=test.dropna().groupby('Item_Type', as_index=False)['Item_Weight'].mean()
#for i in range(len(test)):
    #if np.isnan(test.loc[i,'Item_Weight']):
        #test['Item_Weight'][i]=avg[avg['Item_Type']==test['Item_Type'][i]]['Item_Weight'].values[0]
    #else:
        #pass

#del test['Outlet_Size']
#del test['Item_Identifier']

In [111]:
#train.to_csv('train_clean.csv', index=False)
#test.to_csv('test_clean.csv', index=False)

In [112]:
train_clean=pd.read_csv('train_clean.csv')
train_clean=train_clean.drop(['Outlet_Identifier'], axis=1)
print(train_clean.head())

test_clean=pd.read_csv('test_clean.csv')
test_clean=test_clean.drop(['Outlet_Identifier'], axis=1)

   Item_Weight Item_Fat_Content  Item_Visibility              Item_Type  \
0         9.30          Low Fat         0.016047                  Dairy
1         5.92          Regular         0.019278            Soft Drinks
2        17.50          Low Fat         0.016760                   Meat
3        19.20          Regular         0.000000  Fruits and Vegetables
4         8.93          Low Fat         0.000000              Household

   Item_MRP  Outlet_Establishment_Year Outlet_Location_Type  \
0  249.8092                       1999               Tier 1
1   48.2692                       2009               Tier 3
2  141.6180                       1999               Tier 1
3  182.0950                       1998               Tier 3
4   53.8614                       1987               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052

In [113]:
train_clean.loc[(train_clean['Outlet_Establishment_Year']<=1993), 'Outlet_Establishment_Year']=0
train_clean.loc[(train_clean['Outlet_Establishment_Year']>1993) & (train_clean['Outlet_Establishment_Year']<=1998) , 'Outlet_Establishment_Year']=1
train_clean.loc[(train_clean['Outlet_Establishment_Year']>1998) & (train_clean['Outlet_Establishment_Year']<=2003) , 'Outlet_Establishment_Year']=2
train_clean.loc[(train_clean['Outlet_Establishment_Year']>2003), 'Outlet_Establishment_Year']=4
train_clean['Outlet_Establishment_Year'] = train_clean['Outlet_Establishment_Year'].astype(int)

In [114]:
test_clean.loc[(test_clean['Outlet_Establishment_Year']<=1993), 'Outlet_Establishment_Year']=0
test_clean.loc[(test_clean['Outlet_Establishment_Year']>1993) & (test_clean['Outlet_Establishment_Year']<=1998) , 'Outlet_Establishment_Year']=1
test_clean.loc[(test_clean['Outlet_Establishment_Year']>1998) & (test_clean['Outlet_Establishment_Year']<=2003) , 'Outlet_Establishment_Year']=2
test_clean.loc[(test_clean['Outlet_Establishment_Year']>2003), 'Outlet_Establishment_Year']=4
test_clean['Outlet_Establishment_Year'] = test_clean['Outlet_Establishment_Year'].astype(int)

In [115]:
#from sklearn.preprocessing import LabelEncoder
#le=LabelEncoder()
#list=['Item_Fat_Content', 'Item_Type','Outlet_Identifier','Outlet_Location_Type', 'Outlet_Type']
#for i in list:
    #train_clean[i]=le.fit_transform(train_clean[i]).astype(int)

In [116]:
list=['Item_Fat_Content', 'Item_Type','Outlet_Location_Type', 'Outlet_Type']
for i in range(len(list)):
    dummy_i=pd.get_dummies(train_clean[list[i]])
    train_clean=pd.concat([dummy_i, train_clean], axis=1)

train_clean=train_clean.drop(list, axis=1)
train_clean.head()

,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3,Tier 1,Tier 2,Tier 3,Baking Goods,Breads,Breakfast,...,Snack Foods,Soft Drinks,Starchy Foods,Low Fat,Regular,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
0,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,9.30,0.016047,249.8092,2,3735.1380
1,0,0,1,0,0,0,1,0,0,0,...,0,1,0,0,1,5.92,0.019278,48.2692,4,443.4228
2,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,17.50,0.016760,141.6180,2,2097.2700
3,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,19.20,0.000000,182.0950,1,732.3800
4,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,8.93,0.000000,53.8614,0,994.7052

In [117]:
list=['Item_Fat_Content', 'Item_Type','Outlet_Location_Type', 'Outlet_Type']
for i in range(len(list)):
    dummy_i=pd.get_dummies(test_clean[list[i]])
    test_clean=pd.concat([dummy_i, test_clean], axis=1)

test_clean=test_clean.drop(list, axis=1)
test_clean.head()

,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3,Tier 1,Tier 2,Tier 3,Baking Goods,Breads,Breakfast,...,Seafood,Snack Foods,Soft Drinks,Starchy Foods,Low Fat,Regular,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year
0,0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,20.750,0.007565,107.8622,2
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,8.300,0.038428,87.3198,4
2,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,14.600,0.099575,241.7538,1
3,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,7.315,0.015388,155.0340,4
4,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,12.798,0.118599,234.2300,0

In [186]:
X_train=train_clean.iloc[:,:-1]
y_train=train_clean.iloc[:,-1]

In [187]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y=train_test_split(X_train, y_train, test_size=0.1, random_state=42)

In [188]:
from sklearn.linear_model import LinearRegression, Ridge
lr=LinearRegression()
lr.fit(train_X, train_y)
accuracy_lr=lr.score(test_X, test_y)
print(accuracy_lr*100)

57.67985278125644

In [189]:
from sklearn.linear_model import LinearRegression, Ridge
rg=Ridge(alpha=0.01)
rg.fit(train_X, train_y)
accuracy_rg=rg.score(test_X, test_y)
print(accuracy_rg*100)

57.67985576992818

In [190]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=3, max_depth=5, random_state=2)
rf.fit(train_X, train_y)
accuracy_rf=rf.score(test_X, test_y)
print(accuracy_rf*100)

62.297131185196285

In [191]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=8)
knn.fit(train_X, train_y)
accuracy_knn=knn.score(test_X, test_y)
print(accuracy_knn*100)

46.9751034926333

In [192]:
import xgboost
xgb = xgboost.XGBRegressor(n_estimators=50, learning_rate=0.08, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=3)
xgb.fit(train_X, train_y)
accuracy_xgb=xgb.score(test_X, test_y)
print(accuracy_xgb*100)

62.08133793152768

In [193]:
#final model
xgb1 = xgboost.XGBRegressor(n_estimators=50, learning_rate=0.08, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=3)
xgb1.fit(X_train, y_train)
accuracy_xgb1=xgb1.score(X_train, y_train)
print(accuracy_xgb1*100)

61.30862032446323

In [194]:
#Final Random forest
rf1=RandomForestRegressor(n_estimators=3, max_depth=5, random_state=2)
rf1.fit(X_train, y_train)
accuracy_rf1=rf1.score(X_train, y_train)
print(accuracy_rf1*100)

60.66093266939209

In [195]:
predictions=pd.DataFrame(rf1.predict(test_clean), columns=['Item_Outlet_Sales'])

In [196]:
test1=pd.read_csv('test.csv')
final_submission=pd.concat([test1[['Item_Identifier','Outlet_Identifier']], predictions], axis=1 )

In [197]:
final_submission.to_csv('final_submission.csv', index=False)